[Unit]
Description=miniha_webapp
After=network.target influxdb.service
Requires=influxdb.service

[Service]
ExecStart=/home/bird/minimal_home_assistant/venv/bin/miniha_webapp
WorkingDirectory=/home/bird/minimal_home_assistant/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30s
User=bird

[Install]
WantedBy=multi-user.target
