[Unit]
Description=miniha_webapp
After=network.target

[Service]
ExecStart=/home/bird/mqtt_to_influx/venv/bin/miniha_webapp
WorkingDirectory=/home/bird/mqtt_to_influx
StandardOutput=inherit
# Or use StandardOutput=null if you don't want Zigbee2MQTT messages filling syslog, for more options see systemd.exec(5)
StandardError=inherit
WatchdogSec=10s
Restart=always
RestartSec=10s
User=bird

[Install]
WantedBy=multi-user.target
